extends layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 Add New Transaction
      
      form(action='/transaction' method='post')
        .form-group
          label.control-label(for='member_id') Member_ID
          input#member_id.form-control(type='text', name='member_id')
        .form-group
          label.control-label(for='days') Days
          input#days.form-control(type='number', name='days')
        .form-group
          label.control-label(for='in_date') In Date
          input#in_date.form-control(type='date', name='in_date')
        .form-group
          label.control-label(for='due_date') Due Date
          input#due_date.form-control(type='date', name='due_date')
        .form-group
          label.control-label(for='out_date') Out Date
          input#out_date.form-control(type='date', name='out_date')
        .form-group
          label.control-label(for='fine') Fine
          input#fine.form-control(type='number', name='fine')
            
        .form-group
          button.btn.btn-primary(type="submit") Submit
        
