extends layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 Customers Management
  .row
    .container
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Name
            th Member_ID
            th Address
            th Phone
            th Action
        tbody
          tr
            td 1
            td 1234WXYZ
            td Perjalanan Manusia Tamvan
            td Mr. Tamvan
            td Biografi
            td 
              a.btn.btn-success(href='book/id' alt='View Details')
                span.glyphicon.glyphicon-eye-open
              a.btn.btn-warning(href='book/id/edit' alt='Edit')
                span.glyphicon.glyphicon-edit
              a.btn.btn-danger(href='book/id/delete' alt='Delete')
                span.glyphicon.glyphicon-trash
