extends layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 MongoCRUD Library
        p Septian Adhi Tama - Ken Duigraha Putra
  .row
    .container
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h3.panel-title
              span.glyphicon.glyphicon-book
              |   Manage Books
          .panel-body.text-center
            a(class="btn btn-primary", href="/book") Go to books management
              span.glyphicon.glyphicon-triangle-right
      .col-md-4
        .panel.panel-success
          .panel-heading
            h3.panel-title
            span.glyphicon.glyphicon-user
            |  Manage Customers
          .panel-body.text-center
            a(class="btn btn-success", href="/customer") Go to customer management
              span.glyphicon.glyphicon-triangle-right
      .col-md-4
        .panel.panel-warning
          .panel-heading
            h3.panel-title
            span.glyphicon.glyphicon-transfer
            |  Manage Transactions
          .panel-body.text-center
            a(class="btn btn-warning", href="/transaction") Go to transaction management
              span.glyphicon.glyphicon-triangle-right
